body {
    background-color: rgb(255, 238, 0);
    color: black;
    text-align: center;

}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

.class1 {
    width: 11cm;
    height: 13cm;
}

.class2 {
    font-size: larger;
}

.class3 {

    width: 100%;
}

.class4 {
    height: 10cm;
    width: 10cm;
}

.class5 {
    height: 9cm;
    width: 9cm;
}

.class6 {
    text-align: center;
}

.class7 {
    width: 6cm;
    height: 6cm;
}

.class8 {
    margin-left: 10%;
    width: 80%;


}

.icono1 {
    height: 1.4cm;
    width: 1.4cm;
    border-width: 0.6cm;
}

.icono2 {
    height: 1.5cm;
    width: 1.5cm;
}

.icono3 {
    height: 1.1cm;
    width: 1.1cm;
}